altgraph==0.17.4
certifi==2024.8.30
cffi==1.17.1
cryptography==44.0.0
fastapi==0.115.5
httpx==0.27.2
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==23.2
pefile==2023.2.7
psycopg2==2.9.10
pydantic==2.9.2
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
qrcode==7.4.2
requests==2.32.3
setuptools==75.6.0
uvicorn==0.32.0
